.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 100% !important;
}

.stepper {
  background-color: #002853;
}

.css-qivjh0-MuiStepLabel-label {
  color: white !important;
}

.stepper path {
  color: #31d84a;
}

.step-label {
  color: white !important;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.config {
  position: relative;
}

.content-title {
  /* height: 20%; */
  /* margin-bottom: 20px; */
}

.content-main {
  padding-right: 10px;
  overflow-y: scroll;
}

.prev-next-btn {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 20px;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .prev-next {
    width: 288px;
  }
  .content {
    height: 600px;
  }
  .content-main {
    height: 380px;
  }
}


@media screen and (min-width: 576px) {
  .prev-next {
    width: 246px;
  }
  .content {
    height: 300px;
  }
  .content-main {
    height: 200px;
  }
}
@media screen and (min-width: 768px) {
  .prev-next {
    width: 260px;
  }
  .content {
    height: 400px;
  }
  .content-main {
    height: 200px;
  }
}

@media screen and (min-width: 960px) {
  .prev-next {
    width: 330px;
  }
  .content {
    height: 600px;
  }
  .content-main {
    height: 420px;
  }
}

@media screen and (min-width: 1200px) {
  .prev-next {
    width: 385px;
  }
  .content {
    height: 600px;
  }
  .content-main {
    height: 480px;
  }
}

.step-btn {
  width: 120px !important;
}

.round-btn {
  display: block !important;
  border-radius: 20px !important;
  background-color: transparent !important;
}

.labels {
  font-weight: 700 !important;
}

.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type=radio]:checked + label>img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #090;
}

/* Stuff after this is only to make things more pretty */
input[type=radio] + label>img {
  border: 1px dashed #444;
  width: 150px;
  height: 150px;
  transition: 500ms all;
}

input[type=radio]:checked + label>img {
  transform: 
    rotateZ(-10deg) 
    rotateX(10deg);
}

.moreInfo {
  font-size: 12px;
  color: gray;
}

.styleImage {
  width: 100%;
  height:150px;
}

.styleImage:hover {
  opacity: 1 !important;
}

.styleImage:hover {
  cursor: pointer;
}

.colorPicker {
  display: "flex";
  justify-content: "space-around";
}

.woodStyle {
  display: none;
}

.base-column {
  padding: 10px !important;
  color: black !important;
}

.base-column:hover {
  cursor: pointer;
}

/* .column-box {
  text-align: center;
} */
.add-column-btn {
  width: 100%;
}
.canvas {
  background-color: #e5faff !important;
  height: '100vh' !important;
}

.loader-container {
  width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: white;
    z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.border-right-radius-0 {
  border-top-right-radius: 0px!important;
  border-bottom-right-radius: 0px!important;
}

.border-left-radius-0 {
  border-top-left-radius: 0px!important;
  border-bottom-left-radius: 0px!important
}

    input#number {
      text-align: center;
      border: none;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      margin: 0px;
      width: 40px;
      height: 40px;
    }
  
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

        input#number:focus-visible {
          outline: 0!important;
          /* box-shadow: 0 0 0 0.15rem rgba(211,211,211,.5)!important; */
        }