.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 100% !important;
}

.stepper {
  background-color: #002853;
}

.stepper2 {
  position: fixed;
  height: 105%;
  z-index: 1;
  padding: 16px;
  width: 85px !important;
}

.main {
  position: relative;
}


@media screen and (max-width: 576px) {
  .toggle-sidebar-2 {
    position: absolute;
    color: white;
    cursor: pointer;
    background-color: #002853;
    left: 42%;
    width: 100px;
    height: 20px;
    line-height: 15px;
    text-align: center;
    bottom: -16px;
    font-size: 20px;
    z-index: 1;
    border: 1px solid black;
  }
}


@media screen and (min-width: 576px) {
  .toggle-sidebar-2 {
    position: absolute;
    color: white;
    cursor: pointer;
    background-color: #002853;
    right: 70%;
    width: 100px;
    height: 20px;
    line-height: 15px;
    text-align: center;
    bottom: -16px;
    font-size: 20px;
    z-index: 1;
    border: 1px solid black;
  }
}

@media screen and (min-width: 768px) {
  .toggle-sidebar-2 {
    position: absolute;
    color: white;
    cursor: pointer;
    background-color: #002853;
    right: 60%;
    width: 100px;
    height: 20px;
    line-height: 15px;
    text-align: center;
    bottom: -16px;
    font-size: 22px;
    z-index: 1;
    border: 1px solid black;
  }
}

@media screen and (min-width: 900px) {
  .toggle-sidebar-2 {
    position: absolute;
    color: white;
    cursor: pointer;
    background-color: #002853;
    right: -35px;
    width: 20px;
    height: 100px;
    line-height: 100px;
    top: 12%;
    font-size: 20px;
    z-index: 1;
    border: 1px solid black;
  }
}


@media screen and (min-width: 1200px) {
  .toggle-sidebar-2 {
    position: absolute;
    color: white;
    cursor: pointer;
    background-color: #002853;
    right: -40px;
    width: 25px;
    height: 100px;
    line-height: 100px;
    top: 12%;
    font-size: 20px;
    z-index: 1;
    border: 1px solid black;
  }
}





.css-qivjh0-MuiStepLabel-label {
  color: white !important;
}

.stepper path {
  color: #31d84a;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiStepIcon-root.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
  width:32px;
  height: 32px;
}

.step-label {
  color: white !important;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.config {
  position: relative;
}

.content-main {
  position: relative;
  padding-right: 2px;
  overflow-y: auto;
  /* margin-right:-32px; */
  /* scrollbar-width: none; */
}

.content-main::-webkit-scrollbar {
  background: #ddd;
  width: 5px;
}

.content-main::-webkit-scrollbar-track {
  background: #ddd;
}
 
.content-main::-webkit-scrollbar-thumb {
  background: #000c3a; 
}
.content-main::-webkit-scrollbar-thumb:hover {
  background: black; 
}
.prev-next-btn {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding-right: 20px;
}

@media screen and (max-width: 576px) {
  .prev-next {
    width: 288px;
  }
  .content {
    height: 600px;
  }
  .content-main {
    height: 380px;
  }
}


@media screen and (min-width: 576px) {
  .prev-next {
    width: 246px;
  }
  .content {
    height: 300px;
  }
  .content-main {
    height: 200px;
  }
}
@media screen and (min-width: 768px) {
  .prev-next {
    width: 260px;
  }
  .content {
    height: 400px;
  }
  .content-main {
    height: 200px;
  }
}

@media screen and (min-width: 960px) {
  .prev-next {
    width: 330px;
  }
  .content {
    height: 600px;
  }
  .content-main {
    height: 420px;
  }
}

@media screen and (min-width: 1200px) {
  .prev-next {
    width: 385px;
  }
  .content {
    height: 600px;
  }
  .content-main {
    height: 480px;
  }
}

.step-btn {
  width: 120px !important;
}

.round-btn {
  display: block !important;
  border-radius: 20px !important;
  background-color: transparent !important;
}

.labels {
  font-weight: 700 !important;
}

.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type=radio]:checked + label>img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #090;
}

/* Stuff after this is only to make things more pretty */
input[type=radio] + label>img {
  border: 1px dashed #444;
  width: 150px;
  height: 150px;
  transition: 500ms all;
}

input[type=radio]:checked + label>img {
  transform: 
    rotateZ(-10deg) 
    rotateX(10deg);
}

.moreInfo {
  font-size: 12px;
  color: gray;
}

.styleImage {
  width: 100%;
  height:150px;
}

.styleImage:hover {
  opacity: 1 !important;
}

.styleImage:hover {
  cursor: pointer;
}

.add-label {
  position: relative;
}

.add-new {
  position: absolute;
  bottom: 30%;
  right: 10%;
  width: 25px;
  height: 25px;
  fill: white;
}

.add-new:hover {
  cursor: pointer;
}

.colorPicker {
  display: "flex";
  justify-content: "space-around";
}

.base-column {
  padding: 10px !important;
  color: black !important;
}

.base-column:hover {
  cursor: pointer;
}

/* .column-box {
  text-align: center;
} */
.add-column-btn {
  width: 100%;
}
.canvas {
  background-color: #e5faff !important;
  height: '100vh' !important;
}

.loader-container {
  width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: white;
    z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.border-right-radius-0 {
  border-top-right-radius: 0px!important;
  border-bottom-right-radius: 0px!important;
}

.border-left-radius-0 {
  border-top-left-radius: 0px!important;
  border-bottom-left-radius: 0px!important
}

input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input#number:focus-visible {
  outline: 0!important;
  /* box-shadow: 0 0 0 0.15rem rgba(211,211,211,.5)!important; */
}

.base-columns>div>svg{
  fill: #31d84a !important;
  color: white;
  margin-right: 5px;
  height: 22px;
  width: 22px;
}

.base-columns>div>b>svg {
  float: right;
  line-height: 100%;
  /* height: 22px;
  width: 22px; */
}

.trash {
  fill: red;
  margin-left: 15px;
}

.selectedColumn {
  position: absolute;
  z-index: 999;
  transition: 0.3s ease-in-out;
}

.column-box {
  transition: 0.3s ease-in-out;
}

.hide-column {
  transform: translateX(-500px);
}

.show-column {
  transform: translateX(0);
}

.length-info {
  font-size: 10px;
  border-radius: 10px;
  padding: 0 10px;
  background-color: white;
  color: black;
  opacity: 0.7;
  transform: translateX(-50%) translateY(-50%);
}

.toggle-sidebar {
  color: white !important;
  cursor: pointer;
  background-color: #002853;
  right: -40px;
  width: 25px;
  height: 100px;
  line-height: 100px;
  top: 20%;
  font-size: 22px;
  position: absolute;
  border: 1px solid gray;
}

.toggle-sidebar>svg {
  fill: white !important;
}

.side-info {
  font-size: 12px;
  text-align: center;
  width: 70px;
  border-radius: 10px;
  background-color: white;
  color: black;
  opacity: 0.7;
  transform: translateX(-50%) translateY(-50%);
}
.side-info:hover {
  cursor: pointer;
  background-color:#002853;
  color: white;
}

.overview {
  padding: 15px;
  overflow-y: scroll;
}
.overview::-webkit-scrollbar {
  background: #ddd;
  width: 5px;
}

.overview::-webkit-scrollbar-track {
  background: #ddd;
}
 
.overview::-webkit-scrollbar-thumb {
  background: #000c3a; 
}
.overview::-webkit-scrollbar-thumb:hover {
  background: black; 
}
.edit {
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .overview {
    height: 380px;
  }
}


@media screen and (min-width: 576px) {
  .overview {
    height: 200px;
  }
}
@media screen and (min-width: 768px) {
  .overview {
    height: 200px;
  }
}

@media screen and (min-width: 960px) {
  .overview {
    height: 420px;
  }
}

@media screen and (min-width: 1200px) {
  .overview {
    height: 520px;
  }
}
