.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 100% !important;
}

.stepper {
  background-color: #002853;
}

.css-qivjh0-MuiStepLabel-label {
  color: white !important;
}

.stepper path {
  color: #31d84a;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.config {
  position: relative;
}

.content {
  /* overflow-y: scroll; */
  height: 100%;
  overflow-y: scroll;
}

.content-title {
  /* height: 20%; */
  /* margin-bottom: 20px; */
}

.content-main {
  /* margin: 20px 0 20px 0; */
}

.prev-next-btn {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 20px;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .prev-next {
    width: 600px;
  }
}


@media screen and (min-width: 576px) {
  .prev-next {
    width: 246px;
  }
}
@media screen and (min-width: 768px) {
  .prev-next {
    width: 260px;
  }
}

@media screen and (min-width: 960px) {
  .prev-next {
    width: 330px;
  }
}

@media screen and (min-width: 1200px) {
  .prev-next {
    width: 385px;
  }
  .content {
    height: 690px;
  }
}

.step-btn {
  width: 120px !important;
}

.round-btn {
  border-radius: 20px !important;
  background-color: transparent !important;
}

.labels {
  font-weight: 700 !important;
}

.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type=radio]:checked + label>img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #090;
}

/* Stuff after this is only to make things more pretty */
input[type=radio] + label>img {
  border: 1px dashed #444;
  width: 150px;
  height: 150px;
  transition: 500ms all;
}

input[type=radio]:checked + label>img {
  transform: 
    rotateZ(-10deg) 
    rotateX(10deg);
}

.moreInfo {
  font-size: 12px;
  color: gray;
}

.styleImage {
  width: 100%;
  height:150px;
}

.styleImage:hover {
  opacity: 1 !important;
}

.styleImage:hover {
  cursor: pointer;
}

.colorPicker {
  display: "flex";
  justify-content: "space-around";
}

.woodStyle {
  visibility: hidden;
}

.base-column {
  padding: 10px !important;
  color: black !important;
}

.base-column:hover {
  cursor: pointer;
}

/* .column-box {
  text-align: center;
} */
.add-column-btn {
  width: 100%;
}